<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836935885728-udbkbtafifvmp4k7ruttotl6gb92sss5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836935885728-udbkbtafifvmp4k7ruttotl6gb92sss5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836935885728-5ea4keoqbo3f6g82i0l0ohe5nsvogrj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB832rOinHnhyBTQHKyryrNR4bYRHGu77c</string>
	<key>GCM_SENDER_ID</key>
	<string>836935885728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namsys.dante</string>
	<key>PROJECT_ID</key>
	<string>dante---digital-dating-journal</string>
	<key>STORAGE_BUCKET</key>
	<string>dante---digital-dating-journal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836935885728:ios:8407c44c9a9c075d907ac5</string>
</dict>
</plist>